body {
  background-color: #07566e; 
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%; 
}

.divHeader {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
  padding: 10px;
  height: 7%;  
}

.logo {
  width: 80px;
  height: auto;
}

input {
  flex-grow: 1;
  margin: 0 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #5c9;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #4a8;
}

.divConteudo {
  background-color: rgb(206, 210, 214);
  width: 100%;
  /* flex-grow: 1; */
  height: 86%;
  padding: 20px;
}


.divFooter {
  /* background-color: rgb(50, 187, 50); */
  width: 100%;
  height: 5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
  color: #f0f0f0;
}


.musicaItem {
  margin-bottom: 10px;
  font-size: 18px;
}

.musicaItem a {
  text-decoration: none;
  color: #000000;
}

.musicaItem a:hover {
  text-decoration: underline;
  color: #0056b3;
  font-weight: bold;
}


